body{
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb:  255, 255, 255;
}
h1{
    text-align: center;
    color: red;
    font-style: italic;
    border-bottom: solid;
    font-family: Stencil Std;
}
.w3-black, .w3-hover-black{
    background-color: #b40b9f!important;
}
nav {
    background-color: #b40b9f;
}
h3{
    margin-bottom: 30px;
}
h5{
    color: black;
}
#comprar{
    border-radius: 40%;
    background-color: rgb(50, 184, 61);
    padding: 5px; 
    color: aliceblue;

    transition: 0.5s;

}
.mySlides{
    margin-top: 5%;
}
footer{
    width: 100%;
    height: 20%;
}
li{
    background-color: black;
    display: inline;
    margin-left: 2%;
}
a{
    background-color: #b40b9f;
}
.whatsapp-button {
    display: block;
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
}

#not{
    color: red;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
    font-weight: bold;

}
footer{background-color: #b40b9f;}
